<!DOCTYPE html>
<html>
    <head>
        <title>Where's My Splashpad, Toronto?</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Where's My Splashpad - Find Your Nearest Splashpad in Toronto">
        <meta name="keywords" content="splashpad, spash pad, swimming, Toronto, Ontario, Canada, map, location">

        <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        <style>
            html, body { height: 100%; }

            footer {
                text-align: center;
                margin-top: 2em;
                font-size: 0.85em;
            }

            #map-canvas {
                padding: 0px;
                margin: 2em;
                margin-right: auto;
                margin-left: auto;
                width: 80%;
                height: 66%;
            }

            #map-canvas img {
              max-width: none;
            }
        </style>

        <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&extension=.js"></script>
        <script>
            var map;

            function initialize() {
              var mapOptions = {
                     zoom: 11,
                   center: new google.maps.LatLng(43.669, -79.455),
                mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            }

            $(document).ready(function() {
                initialize();
            });
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row"> <center>
                <h2> Where's My Splashpad, Toronto? </h2>
            </center> </div>
            <div class="row">
                <div class="offset1">
                    <form class="form-search">
                        <div class="span9 input-append">
                            <input class="span8 search-query" id="main_search" type="text" />
                            <button class="btn">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="map-canvas"></div>
        <footer>
            &copy; Copyright 2013 Brandon Sandrowicz.
            Built using
                <a href="http://twitter.github.io/bootstrap/">Bootstrap</a>,
                <a href="http://jquery.com">jQuery</a>,
                and the <a href="https://developers.google.com/maps/">Google Maps API</a>.
        </footer>
    </body>
</html>
